# MONGO_URL=mongodb://localhost:27017/SSI
MONGO_ONLINE_URL='your online mongodb url here'
FRONTEND_URL='your frontend url here'
PORT='your backend port here'
EMAIL_USER='your email user here'  #for nodemailer setup 
EMAIL_PASS='your email password here'